/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    background-color: white;
}

#container
{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    background-color: white;
}
/* --------------------------------------------*/
/* top */
/* --------------------------------------------*/    
#top
{
    background-color: white;
/* --------------------------------------------*/
/* meny */
/* --------------------------------------------*/    
}
#nav
{
    font-family: arial;
    height:auto;
    margin:auto;
    
}
#nav li 
{
    display:inline;
    width: auto;
    margin-right:10px;
}
a:link { text-decoration: none}
a:visited { text-decoration: none}
a:active { text-decoration: none}
/* --------------------------------------------*/
/* body */
/* --------------------------------------------*/    
#content
{
    background-color:#E8FFFB;
    float: left;
    width: 960px;
    height: auto;
    margin: auto;
    font-family: arial;

}
#content ul, li, dl, ol, dt, dd {
    margin-left:10px;
    padding-left: 10px;
}
#content ul {
    list-style: disc;
}
#content ol {
    list-style: decimal;
}
#content dl, dt, dd {
    list-style: square;
}
/* FIXA TILL LISTA DL! */
#content p, table, form
{
    text-align: justify;
    margin-left:10px;
    margin-right:10px;    
}
#content table {
        border-style: solid;
        border-top-style: solid;
}
/* FIXA TILL TABELLEN! */
#content form {
        border-style: solid;
        border-top-style: solid;
}
/* FIXA TILL FORMULÄRET! */
#content h1, h2, h3
{
    background-color:#FFB873;
    padding:8px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 5px;
    font-weight: bold;
}
#content h1 
{
    font-size: 24px;
}
#content h2 
{
    font-size: 22px;
}
.floatingheader h2,.floatingheader h3
{
    background-color: #FFB873;
    margin-left: 2%;
    margin-right: 2%;
    padding:8px;
    
}
#contleft
{
    float:left;
    width:50%;
}    
#contleft p, dl, ul, ol
{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}
#contright{
    float:left;
    width:50%;
}
#contright p, dl, ul, ol, img
{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}
#bild
{
    width:150px;
}
/* --------------------------------------------*/
/* foot */
/* --------------------------------------------*/    

#footer
{
    float:left;
    width: 960px;
    height: 50px;
    margin: auto;
    text-align: center;
    background-color: gray;
}