body{
    background-color: #white;
}

#container
{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    background-color: white;
}
/* --------------------------------------------*/
/* top */
/* --------------------------------------------*/    
#top
{
    background-color: white;
/* --------------------------------------------*/
/* meny */
/* --------------------------------------------*/    
}
#nav
{
    font-family: arial;
    float: center;
    width:auto;
    height:auto;
    margin:auto;
    
}
#nav li 
{
    display:inline;
    width: auto;
}
a:link { text-decoration: none}
a:visited { text-decoration: none}
a:active { text-decoration: none}
/* --------------------------------------------*/
/* body */
/* --------------------------------------------*/    
#content
{
    background-color:#E8FFFB;
    float: left;
    width: 960px;
    height: auto;
    margin: auto;
    font-family: arial;
}
#content p, table
{
    text-align: justify;
    margin-left:10px;
    margin-right:10px;    
}
#content h2, h3{
    background-color:#FFB873;
    padding:8px;
    margin-left:10px;
    margin-right:10px;  
}

.floatingheader h2,.floatingheader h3
{
    background-color: #FFB873;
    margin-left: 10px;
    margin-right: 10px;
}
#contleft
{
    float:left;
    width:49%;
}    
#contleft p{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}
#contright{
    float:left;
    width:49%;
}
#contright p{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}


/* --------------------------------------------*/
/* foot */
/* --------------------------------------------*/    

#footer
{
    float:left;
    width: 960px;
    height: 50px;
    margin: auto;
    text-align: center;
    background-color: gray;
    
}