body{
    background-color: #white;
}

#container
{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    background-color: white;
}
/* --------------------------------------------*/
/* top */
/* --------------------------------------------*/    
#top
{
    background-color: white;
/* --------------------------------------------*/
/* meny */
/* --------------------------------------------*/    
}
#nav
{
    font-family: arial;
    float: center;
    width:auto;
    height:auto;
    margin:auto;
    
}
#nav li 
{
    display:inline;
    width: auto;
}
/* --------------------------------------------*/
/* body */
/* --------------------------------------------*/    
#content
{
    background-color:white;
    float: left;
    width: auto;
    height: auto;
    margin: auto;
    font-family: arial;
}
#content h2, h3{
    background-color: #FFB873;
}

/* --------------------------------------------*/
/* foot */
/* --------------------------------------------*/    

#footer
{
    float:left;
    width: 960px;
    height: 50px;
    margin: auto;
    text-align: center;
    background-color: gray;
    
}